<configuration>
    <appender name="logcatCrashlytics" class="com.ardc.friendlycondo.infrastructure.logging.LogcatCrashlyticsAppender">
        <tagEncoder>
            <pattern>%logger{12}</pattern>
        </tagEncoder>
        <encoder>
            <pattern>[%-20thread] %msg</pattern>
        </encoder>
    </appender>

    <root level="DEBUG">
        <appender-ref ref="logcatCrashlytics" />
    </root>
</configuration>